# 此为仓库层级 .gitignore 文件，定义团队级别的仓库文件管理规范
# 此文件仅能由授权的架构师进行修改
#
#      Author: Arthur Xu
# Last Update: 2016-1-20

# 忽略 Eclipse 生成的项目文件和配置信息（团队规范：Java IDE 使用 IDEA）
**/.project
**/.classpath
**/.settings/
**/bin/

# 忽略 IDEA 的项目配置信息及输出文件
**/.idea/
**/target/

*.iml

**/error.log
**/info.log